/* === FOOTER === */
section#footer {
    background: var(--footer-background-color);
}

section#footer p {
    color: var(--footer-text-color);
}

section#footer h6 {
    color: var(--footer-heading-color);
    text-transform: uppercase;
}

section#footer a {
    color: var(--footer-link-color);
}

section#footer a:hover {
    color: var(--hover-color);
}

footer .fl-module-icon {
    background: transparent;
    margin: 0;
    padding: 0;
}

footer #social .fl-module-icon * {
    color: var(--footer-link-color);
}

footer #social .fl-icon i::before {
    font-size: var(--size-xx-medium);
    margin-right: 0;
}

footer #social .fl-module-icon *:hover {
    color: var(--hover-color);
}

footer .fl-module-icon .fl-module-content {
    margin: 0;
}

footer .fl-module-icon .fl-icon {
    vertical-align: middle;
}

footer .fl-module-icon .fl-icon i {
    text-align: center;
    width: 40px;
}

#cta {
    background-image: linear-gradient(0deg, var(--footer-background-color)) 50%, var(--background-color) 50%;
}

#cta .fl-module-callout {
    background: transparent;
    padding: 20px;
}

#cta .fl-callout h5 {
    color: var(--charcoal);
}

#cta .fl-callout a {
    color: var(--link-color);
}

#cta .fl-callout-text p {
    color: var(--charcoal);
    font-size: var(--size-medium);
}

#cta .fl-col {
    background: var(--white);
}

#cta .fl-col:hover {
    background: var(--subheading-color);
}

#legal {
    font-size: var(--size-small);
}

#legal a {
    display: inline-block;
    margin-right: 20px;
}

#subscribe p {
    color: var(--white);
}

#subscribe span.fl-button-text {
    color: var(--white);
}