/* Lead & Leading Copy */
.lead,
.lead p,
.lead li,
.lead ul li {
  font-size: $size-x-medium;
}

.leading p:first-of-type {
  font-size: $size-x-medium;
}

/* Anchor tag links */
a {
  color: $link-color;
}

a:hover {
  color: $hover-color;
  text-decoration: none;
  transition: color 0.4s linear;
  transition: background-color 0.4s linear;
}

a:focus,
a:focus-visible {
  outline: none !important;
}

/* Ordered & Unordered Lists / Numbers & Bullets */
ul li {
  list-style-type: square;
}

ul li ul li {
  list-style-type: disc;
}

ul li ul li ul li {
  list-style-type: circle;
}

ul li::marker {
  color: $cyan, $opaque;
}

.fl-rich-text ul {
  margin-top: 1rem;
}

/* +V1.1 */
.fl-callout-text ul li,
.fl-rich-text ul li,
.fl-accordion-content ul li,
.fl-callout-text ol li,
.fl-rich-text ol li,
.fl-accordion-content ol li {
  margin-bottom: 1rem;
}

/* +V1.1 */
.fl-rich-text ul li ul li {
  margin-bottom: 0.25rem;
}

/* +V1.1 */
.fl-rich-text ul li ul li ul li {
  margin-bottom: 0.05rem;
}

/* +V1.1 */

/* Selection highlighting */
::selection {
  background: $selection-color, $opaque;
}

/* Heading Subtitles */
.heading-subtitle {
  color: $cyan;
  text-transform: uppercase;
  margin-bottom: 0px;
}

/* +V1.1 - in retrospect this should probably be a supertitle as it is only used above the heading but I'm not changing things now... */
.heading-subtitle-under {
  color: $cyan;
  margin-top: 0px;
}

.client-subtitle {
  color: $cyan;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: $size-medium;
  letter-spacing: 6px;
}

/* Button */
button,
.fl-button-text {
  text-transform: uppercase;
}

button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  background: $link-color;
  color: $white;
  border: none;
  text-align: center;
  border-radius: 0;
  font-weight: 800;
}

button:hover,
a.fl-button:hover,
.fl-builder-content a.fl-button:hover,
button:active,
a.fl-button:active,
.fl-builder-content a.fl-button:active {
  background: $hover-color;
}

button:hover i,
a.fl-button:hover i,
.fl-builder-content a.fl-button:hover i {
  color: $link-color;
}

button,
a.fl-button * {
  border: none !important;
}

/* Tables */
.fl-module-content table {
  width: 100%;
  margin-top: 30px;
}

.fl-module-content table th {
  color: $cyan;
  vertical-align: middle;
  border-bottom: 6px solid $cyan;
  font-size: $size-medium;
}

.fl-module-content table th,
.fl-module-content table td {
  padding: 20px;
}

.table {
  margin-bottom: 30px;
  margin-top: 30px;
}

.table th {
  text-align: left;
}

.table th.center {
  text-align: center;
}

.table td.bullet,
table.table td.center {
  text-align: center;
}

.table > thead > tr > th {
  vertical-align: middle;
  border-bottom: 6px solid $cyan;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $feature-color;
}

.table th,
.table td {
  border-top: none;
}

.table td {
  color: $font-color;
  border-bottom: 1px solid $cyan;
}

/* Helper Classes */
.left {
  text-align: left;
}

.floatleft {
  float: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.floatright {
  float: right;
}

.divcenter {
  position: relative;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.z-up10 {
  z-index: 10;
  position: relative;
}

.z-up20 {
  z-index: 20;
  position: relative;
}

/* Overline */
.fl-module.overline .fl-module-content:before {
  display: inline-block;
  content: "";
  border-top: 0.15rem solid $cyan;
  width: 3rem;
  transform: translateY(-1rem);
}

.overline.center:before {
  margin: auto;
}

/* +V1.1 */

/* Text Light (for modules on dark row or image backgrounds) */
.text-light :is(h1, h2, h3, h4, h5, h6) {
  color: $cyan !important;
}

.text-light :is(p, li) {
  color: $white;
}

.text-light .fl-module.overline .fl-module-content:before {
  border-top-color: $cyan;
}

/* Sticky Content */
.sticky {
  position: sticky;
  /* IE, Edge 15 and earlier versions do not support sticky positioning */
  position: -webkit-sticky;
  /* for Safari */
  top: 80px;
  /* need either top, right, bottom or left for sticky positioning to work */
}

/* Sticky Right Column Styles */
.sticky-col {
  position: static;
  overflow-x: auto;
}

@media only screen and (min-width: 992px) {
  .sticky-col {
    max-height: 99vh;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 80px;
    overflow-x: hidden;
  }
}

/* Photo & Image styles
--------------------------------------------- */
body .feature-img .fl-photo-content img {
  max-width: none;
}

section#solution-hero .fl-post-content {
  overflow-x: hidden;
  height: 800px;
}

.shadow img {
  box-shadow: 0 5px 12px -4px #0005;
}

/* +V1.1 */
.shadow .fl-photo-img {
  box-shadow: 0 5px 12px -5px #0005 !important;
}

.angled-right .fl-photo-content {
  perspective: 900px;
  perspective-origin: right;
}

/* +V1.1 */

.angled-right .fl-photo-img {
  transform: rotateY(-15deg) rotateX(1deg);
  box-shadow: 3px 2px 10px -3px #0007;
}

/* +V1.1 */

.angled-left .fl-photo-content {
  perspective: 900px;
  perspective-origin: left;
}

/* +V1.1 */

.angled-left .fl-photo-img {
  transform: rotateY(12deg) rotateX(1deg);
  box-shadow: -3px 2px 10px -3px #0007;
}

/* +V1.1 */

.angled-right .fl-module-content,
.angled-leftt .fl-module-content {
  margin: 20px 0px;
}

/* +V1.1 */

@media (max-width: 992px) {
  body .feature-img .fl-photo-content img {
    max-width: 100%;
  }
}

/* Form Styles */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea,
select {
  border-radius: 0 !important;
  border: none;
  font-size: $size-regular;
  background: $white;
}

input::placeholder {
  color: $grey !important;
}

/* CSS Effects
--------------------------------------------- */
/* Grow */
.hvr-grow,
.fl-post-grid-post {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active,
.fl-post-grid-post:hover,
.fl-post-grid-post:focus,
.fl-post-grid-post:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* === SECTIONS === */

/* Post Hero Section */
section#hero h1,
section#hero p {
  color: $white;
}

section#hero h1 {
  text-shadow: 0.03em 0.03em 0em rgb(0 0 0 / 40%);
}

section#hero h5 p {
  color: $cyan;
  background: $dark-color, $semiopaque;
  display: inline;
  white-space: break-spaces;
  padding-inline-end: 2px;
}

section#hero .avatar {
  border-radius: 50%;
  margin: 4px;
}

section#hero .fl-row-content-wrap::after {
  background-image: linear-gradient(
    90deg,
    $dark-color,
    $semiopaque 10%,
    $dark-color,
    $transparent 100%
  );
}

/* Solution Hero Section */
section#solution-hero .fl-post_tag a {
  background: $dark-color, $transparent;
}

section#solution-hero .fl-post_tag a:hover {
  background: $cyan, $opaque;
}

section#solution-hero .fl-module-content {
  margin: 0 20px;
}

/* Page Hero Section */
.page-template-default section#hero :is(h2, h2 p, h3, h3 p, h4, h4 p) {
  color: $cyan;
  text-shadow: 0.03em 0.03em 0em rgb(0 0 0 / 40%);
}

/* +V1.1 */
.page-template-default section#hero .avatar {
  border-radius: 50%;
  margin: 4px;
}

.page-template-default section#hero .fl-row-content-wrap::after {
  background-image: linear-gradient(
    40deg,
    6,
    30,
    63,
    0.7 20%,
    12,
    41,
    81,
    0.4 70%
  ) !important;
}

/* xV1.2 */
.page-template-default section#hero .fl-row-content-wrap {
  min-height: 600px;
  display: flex;
  align-items: center;
  padding: 80px 60px 60px 60px;
}

/* +V1.2 */
.page-template-default
  section#hero
  .fl-row-content.fl-row-fixed-width.fl-node-content {
  margin: auto;
  width: 100%;
}

/* +V1.1 */
.page-template-default section#hero .fl-module-content {
  margin: 0px 20px;
}

/* +V1.1 */

/* Video Section */
section#video .fl-row-content {
  padding: 40px;
}

section#video h6 {
  color: $cyan;
  text-transform: uppercase;
}

section#feature .fl-row-content {
  background: $feature-color;
  padding: 80px 40px;
}

.fl-embed-video {
  max-width: 1200px;
  margin: auto;
}

/* Team Member Callout Section */
.team-member .fl-callout-photo img {
  height: unset !important;
  border: solid;
  border-width: 0 0 1px 0;
}

.team-member .fl-callout-text-wrap {
  padding: 0px 25px 30px 25px !important;
}

.team-member {
  border: 1px solid white;
}

/* === POSTS === */

/* Post Content */
.fl-module-fl-post-content :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 40px;
}

.fl-module-fl-post-content p:first-child {
  font-size: $size-x-medium;
}

/* Post Content Images */
.wp-caption {
  background: transparent;
  border: none;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.aligncenter,
div.aligncenter {
  margin-bottom: 40px;
}

.wp-caption p.wp-caption-text,
.wp-caption-text {
  font-size: $small;
  color: $orange;
  margin-top: 10px;
}

/* Post List Styles */
section#post-content ul,
section#post-content ol,
.fl-post-content ul,
.fl-post-content ol {
  list-style-position: outside !important;
  margin-left: 20px;
  padding-left: 0;
}

/* Pre / Code Styles */
pre {
  display: block;
  margin: 20px 0;
  font-family: Consolas, Monaco, monospace;
  font-size: inherit;
  background-color: #f5f5f5;
  padding: 20px;
  line-height: 1.4rem;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #00b6ff;
}

/* Post Highlight Section */
.single-post .fl-col.highlight {
  width: 100%;
  margin-bottom: 60px;
}

.single-post .fl-col.highlight .fl-col-content {
  width: 100%;
  padding: 20px 40px 40px 40px;
}

/* Page Highlight Section */
.fl-col.highlight {
  background: $cyan;
}

.fl-col.highlight :is(h2, h3, h4, h5, h6, h6, a) {
  color: $white;
}

.fl-col.highlight :is(p, li) {
  color: $light-grey;
}

.fl-col.highlight h6 {
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.fl-col.highlight ul li::marker {
  color: $white, $opaque;
}

/* Post Block Quote Styles */
blockquote,
.wp-block-quote {
  position: relative;
  border: none;
  padding: 0 30px 30px 0;
  margin: 40px 0;
}

blockquote:before {
  display: inline-block;
  content: "";
  border-top: 0.15rem solid $cyan;
  width: 3rem;
  transform: translateY(-1rem);
}

blockquote:after {
  font-size: 120px;
  font-weight: 600;
  position: absolute;
  z-index: 10;
  font-style: italic;
  font-family: Georgia, "serif";
  color: $grey, 0.3;
  content: "\201D";
  right: 0;
  transform: translateY(-3rem);
}

blockquote,
blockquote p {
  font-style: italic;
  font-family: $heading-fonts;
  font-size: $size-medium;
}

/* Tag and Category Links */
.fl-post_tag a,
.fl-post_category a,
a.tag-cloud-link,
a.pp-post-meta-term,
.pp-post-tile-category span {
  display: inline-block;
  padding: 8px 12px;
  margin: 2px 4px 2px 0;
  color: $cyan;
  border: $cyan 1px solid;
  letter-spacing: 4px;
  font-size: $size-small;
  font-weight: 400;
  background: $dark-color, 0;
  text-transform: uppercase;
}

a.pp-post-meta-term,
.pp-post-tile-category span {
  color: $cyan !important;
  background: $dark-color, 0.8 !important;
}

.pp-content-post .pp-post-meta span {
  background: $dark-color, 0 !important;
  padding: 0 !important;
}

.fl-post_category a,
a.pp-post-meta-term,
.pp-post-tile-category span {
  padding: 4px 6px;
  font-size: $size-small;
  letter-spacing: 2px;
  font-weight: 600;
}

.fl-post_tag a:hover,
.fl-post_category a:hover,
a.tag-cloud-link:hover,
a.pp-post-meta-term:hover {
  color: $white;
  background: $cyan;
  transition: all 0.2s ease-in-out;
}

/* Post Navigation Links */
.nav-links {
  margin-top: 40px;
}

.nav-links a {
  font-size: $size-medium;
}

/* Feature Row */
#fl-main-content .fl-row.feature {
  background: $feature-color;
  padding: 60px 20px;
}

/* Feature Column */
.fl-col.feature .fl-col-content {
  background: $feature-color;
}

/*  Resources Section */
section#resources {
  background: $cyan;
  padding: 60px 40px;
  color: $white;
}

section#resources :is(h2, h3, h4, h5, h6, h6, p, li) {
  color: $white;
}

section#resources :is(p, li) {
  color: $light-grey;
}

section#resources .fl-module.overline .fl-module-content:before {
  border-top-color: $white;
}

section#resources .pp-content-grid-pagination li a.page-numbers {
  border: $white 1px solid;
  font-size: $size-regular;
  color: $white;
  background-color: transparent;
}

section#resources .page-numbers.dots {
  color: $white;
  background: transparent;
}

section#resources .page-numbers.current,
section#resources .pp-content-grid-pagination li a.page-numbers:hover {
  background-color: $white;
  color: $cyan;
}

/* === MODULES === */

/* Alternate Background Row Module */
.alternate-background {
  max-width: unset;
  background: $feature-color;
}

/* +V1.1 */
.alternate-background .fl-row-fixed-width {
  padding: 40px;
}

/* +V1.1 */
.alternate-background .fl-row-content-wrap {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

/* +V1.1 */

/* Alternate Background Divider Modules */
.top-divider {
  background: linear-gradient(
    180deg,
    $background-color 150px,
    $feature-color 150.1px
  );
}

/* +V1.1 */
.top-divider:before {
  height: 150px;
  background: linear-gradient(
        -2.7deg,
        #fff0 0%,
        #fff0 50%,
        $feature-color,
        0.15 50.3%,
        $feature-color,
        0.35 62.1%,
        $feature-color,
        0.9
      )
      62.4%,
    $feature-color, 1,
    linear-gradient(
      2.7deg,
      #fff0 0%,
      #fff0 49%,
      $feature-color,
      0.15 50.3%,
      $feature-color,
      0.35 62.1%,
      $feature-color,
      0.9 62.4%,
      $feature-color
    );
  width: 100%;
  transform: scaley(-1);
}

/* +V1.1 */
.bottom-divider:after {
  height: 150px;
  background: linear-gradient(
      -2.7deg,
      #fff0 0%,
      #fff0 50%,
      $background-color,
      0.15 50.3%,
      $background-color,
      0.35 62.1%,
      $background-color,
      0.9 62.4%,
      $background-color,
      1
    ),
    linear-gradient(
      2.7deg,
      #fff0 0%,
      #fff0 49%,
      $background-color,
      0.15 50.3%,
      $background-color,
      0.35 62.1%,
      $background-color,
      0.9 62.4%,
      $background-color
    );
  width: 100%;
  transform: scaley(-1);
}

/* +V1.1 */

/* Hexagon Line Separator Module */
.fl-separator:after {
  content: url(https://enterprise.trimech.com/wp-content/uploads/2023/01/Thick-Single-Hex.svg);
  width: 20px;
  height: 20px;
  transform: translateY(-11.5px);
  display: block;
  margin: auto;
  background: $background-color;
}

/* +V1.1 */
.alternate-background .fl-separator:after {
  background: $feature-color;
}

/* +V1.1 */

/* Author Bio Module */
.fl-module-fl-author-bio .fl-module-content,
.fl-author-bio {
  background: $feature-color;
}

.fl-author-bio-name {
  color: $heading-color;
}

/* Button Group Module */
.fl-module-button-group .fl-node-content {
  margin: 0px 0px 0 20px;
}

/* +V1.1 */
.fl-button-group-buttons .fl-button-group-button:first-child .fl-button-wrap a,
#subscribe a.fl-button {
  background: $orange;
  outline: 2px $orange solid;
}

/* +V1.1 */
.fl-button-wrap a {
  outline-offset: -5px;
  outline: 2px $link-color solid;
  transition: 0.5s ease all !important;
}

/* +V1.1 */
.fl-button-wrap a:hover,
.fl-button-wrap a:active {
  outline-offset: -1px;
  background: none !important;
}

/* +V1.1 */
.fl-button-wrap .fl-button:hover .fl-button-text {
  color: $link-color;
}

/* +V1.1 */
.fl-button-group-button:first-child .fl-button-wrap a:hover .fl-button-text {
  color: $orange;
}

/* +V1.1 */
.fl-cta-button .fl-button-wrap .fl-button:hover .fl-button-text {
  color: $white;
}

/* +V1.1 */

/* Call to Action CTA Module */
.fl-module-cta {
  background-image: linear-gradient(0deg, #ef3e42ff 10%, #ff6000bb 100%),
    url(https://enterprise.trimech.com/wp-content/uploads/2022/12/Hexgrid-bg.svg),
    linear-gradient(135deg, #ff6000 0%, #ef3e42 100%) !important;
  padding: 120px 0px 120px !important;
  background-size: 3840px;
}

/* xV1.1 */
.fl-cta-title {
  color: $white;
}

.fl-module-cta p {
  color: $white, 0.95;
  font-size: $size-x-medium;
  margin: 0px auto 20px;
}

/* xV1.1 */
.fl-module-cta a.fl-button {
  padding: 30px;
  font-size: $size-x-medium;
}

.fl-module-cta h3 {
  font-size: $size-x-large;
}

/* +V1.1 */

/* Callout Module */
.fl-module-callout {
}

.fl-callout-photo img {
  height: 200px !important;
  object-fit: cover;
}

.fl-callout-photo .fl-photo-content {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #111;
}

/* +V1.1 */
.fl-callout-button {
  padding: 20px 0 0 0;
}

/* Callout Module Feature with Image */
.fl-module-callout.feature {
  background: $feature-color;
  margin: 20px;
  box-shadow: 0px 2px 10px -5px #0005;
  height: 100%;
}

/* xV1.1 */
.fl-module-callout.feature .fl-module-content {
  padding: 0;
  margin: 0;
}

.fl-module-callout.feature .fl-callout-title {
  padding: 0 25px;
}

.fl-module-callout.feature .fl-callout-text-wrap {
  padding: 10px 25px 30px 25px;
}

/* Callout Module Feature with Icon */
.fl-module-callout.feature-icon {
  background: $feature-color;
  margin: 20px;
  box-shadow: 0px 2px 10px -5px #0005;
  height: 100%;
}

/* xV1.1 */
.fl-module-callout.feature-icon .fl-module-content {
  padding: 30px;
  margin: 10px;
  color: $font-color;
}

/* Callout Module Feature Code to make buttons appear at bottom always */
.feature .fl-module-content.fl-node-content {
  height: 100%;
}

/* +V1.1 */
.feature .fl-callout {
  height: 100%;
}

/* +V1.1 */
.feature .fl-callout-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* +V1.1 */
.feature .fl-callout a {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* +V1.1 */
.feature .fl-callout-text-wrap {
  display: flex;
  flex-direction: column;
  place-content: space-between;
  flex-grow: 2;
}

/* +V1.1 */

/* Promo Callout Module */
.fl-module-callout.promo .fl-module-content:before {
  display: inline-block;
  content: "";
  border-top: 1.1rem solid $blue !important;
  width: 3rem;
  transform: translateY(-1rem);
}

.fl-module-callout.promo :is(h2, h3, h4, h5) {
  color: $white;
}

.fl-module-callout.promo :is(p, li) {
  color: $light-grey;
}

.fl-module-callout.promo li::marker {
  color: $white, $opaque;
}

.fl-module-callout.promo h6.fl-callout-title {
  text-transform: uppercase;
  font-weight: 300;
  color: $blue !important;
  letter-spacing: 4px;
  font-size: $size-small;
}

/* Icon Module */
.fl-module-icon {
  background: $feature-color;
  margin: 20px;
  padding: 15px;
}

.fl-module-icon .fl-icon {
  vertical-align: top;
}

.fl-module-icon .fl-icon i {
  color: $cyan;
}

.fl-module-icon .fl-icon i::before {
  font-size: $size-large;
  margin-right: 20px;
}

.fl-module-icon .fl-icon-text :is(h1, h2, h3, h4, h5, h6) {
  color: $font-color;
}

/* xV1.1 */
.fl-module-icon .fl-icon-text ul {
  margin-left: 15px !important;
}

.hex-icon {
  margin: 20px;
  padding: 0;
}

/* +V1.1 */
.hex-icon.fl-module.fl-module-icon {
  padding: 0;
  margin: 15px 20px 15px 20px;
  box-shadow: 0px 2px 10px -5px #0005;
  display: flex;
  flex-grow: 2;
}

/* +V1.1 */
.hex-icon .fl-icon i {
  color: $white !important;
  display: flex;
  background: $blue;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: 70px;
  width: 75px;
}

/* +V1.1 */
.hex-icon .fl-icon i:before {
  margin: auto;
  font-size: $size-x-large;
}

.hex-icon .fl-icon-wrap {
  text-align: left !important;
  width: 100%;
}

.hex-icon.icon-above .fl-icon {
  display: flex;
}

.hex-icon.icon-above .fl-module-content {
  width: 100%;
  place-content: center;
  display: flex;
}

.hex-icon.icon-above .fl-icon-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: unset !important;
}

.hex-icon.icon-above .fl-icon i {
  margin: 0 auto 10px;
}

.hex-icon.feature-icon .fl-icon i {
  height: 90px;
  width: 97px;
}

.hex-icon.feature-icon .fl-icon i:before {
  font-size: 45px;
}

.no-shadow {
  box-shadow: none !important;
}

/* Posts Module */
.fl-post-grid-post {
  background: $feature-color;
  border: none;
}

.fl-post-grid-post p {
  font-size: $size-small;
}

.fl-post-grid-post .fl-post-image img {
  height: 200px !important;
  object-fit: cover;
}

.fl-post-grid-post .fl-post-image,
.fl-post-featured-archive .fl-post-image {
  position: relative;
}

.fl-post-image .fl-post_tag {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0 20px;
}

.fl-post-grid .fl-post_tag a,
.fl-post-grid .fl-post_category a {
  margin-left: 0;
  font-size: $size-xx-small;
}

.fl-post_tag a {
  background: $dark-color, $semiopaque;
}

.fl-post_tag a:hover {
  background: $cyan;
}

.fl-post-grid .fl-post-text {
  padding: 20px;
}

.fl-post-grid .fl-post-title {
  font-size: $size-medium;
  line-height: 32px;
  margin: 0;
  padding: 0 0 5px;
}

.fl-post-grid .fl-post-meta {
  padding: 0 0 15px;
}

.fl-post-feed-post {
  border: none;
}

.fl-post-feed-post.fl-post-feed-image-beside,
.fl-post-feed-post.fl-post-feed-image-beside-content,
.fl-post-feed-post.fl-post-feed-image-beside-right,
.fl-post-feed-post.fl-post-feed-image-beside-content-right {
  max-width: 1600px;
}

/* Posts Module Events */
.fl-post-event-block {
  padding: 4px 8px;
  font-size: 12px;
  display: inline-block;
  border: none;
  line-height: inherit;
  background: $cyan;
  color: $background-color;
  margin-right: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Posts Module Pagination */
.fl-builder-pagination {
  padding: 0;
}

.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
  border: 1px solid $cyan;
  color: $cyan;
}

.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
  background: $cyan;
  color: $white;
}

.fl-builder-pagination li span.page-numbers.dots {
  border: none !important;
}

/* Post Slider */
.fl-post-slider-feed-content p {
  color: $white;
  font-weight: 800;
  margin-bottom: 30px;
}

a.fl-post-slider-feed-more {
  background: $link-color;
  color: $white;
  text-align: center;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: $size-medium;
}

a.fl-post-slider-feed-more:hover {
  background: $hover-color;
}

/* Post Grid */
.pp-content-post.pp-grid-style-9 .pp-post-featured-img a::before {
  background-image: linear-gradient(
    0,
    0,
    0,
    0 10%,
    0,
    0,
    0,
    0.7 100%
  ) !important;
}

/* Post Grid Pagination */
.pp-content-grid-pagination li a.page-numbers {
  border: $cyan 1px solid;
  font-size: $size-regular;
  color: $cyan;
}

.text-light .pp-content-grid-pagination li a.page-numbers {
  border: $white 1px solid;
  font-size: $size-regular;
  color: $white;
}

.text-light .page-numbers.dots {
  color: $white;
  background: transparent;
}

.text-light .page-numbers.current {
  background-color: $white;
  color: $cyan;
}

/* Auto-play Video */
.border-video .fl-module-content.fl-node-content {
  border: 2px solid white;
  box-shadow: 0px 5px 10px -3px rgb(0 0 0 / 15%);
}

/* +V1.1 */
.border-video .wp-video-shortcode video {
  height: unset !important;
}

/* +V1.1 */

/* Tabs Module */
.fl-tabs-panel,
.fl-tabs-panels,
.fl-tabs-panel-content,
.fl-tab-active,
.fl-tabs-label.fl-tab-active {
  border-color: transparent !important;
  background: transparent;
}

.fl-tabs-label {
  color: $tab-color;
  font-weight: 800;
}

.fl-tabs-label.fl-tab-active {
  color: $link-color;
}

/* Horizontal Tabs */
.fl-tabs-horizontal .fl-tabs-label {
  margin-right: 15px;
}

.fl-tabs-horizontal .fl-tab-active {
}

.fl-tabs-horizontal .fl-tab-active:after {
  border-bottom: solid 6px $link-color;
}

.fl-tabs-horizontal .fl-tabs-panel-content {
  margin-top: 40px;
}

/* Vertical Tabs */
.fl-tabs-vertical .fl-tabs-labels {
  width: 20%;
  margin-top: 25px;
}

.fl-tabs-vertical .fl-tabs-label {
  border-left: solid 6px $background-color !important;
}

.fl-tabs-vertical .fl-tabs-label.fl-tab-active {
  border: none;
  border-left: solid 6px $link-color !important;
}

/* Accordion */
.fl-accordion-item {
  border-color: $cyan !important;
  background: $feature-color;
  padding: 20px;
  margin-bottom: 25px !important;
}

.fl-accordion-item:hover {
  border-color: $hover-color !important;
}

.fl-accordion-item:hover .fl-accordion-button h5,
.fl-accordion-item:hover .fl-accordion-button i {
  color: $hover-color, 1 !important;
}

.fl-accordion-button-label,
.fl-accordion-button {
  outline: none;
  font-size: $size-medium;
}

.fl-accordion-button-icon {
  color: $link-color, 1;
}

.fl-accordion-button-icon-left,
.fl-accordion-button-icon-right {
  opacity: 1;
}

/* Testimonials */
.fl-module-testimonials {
  padding: 60px;
  max-width: 1200px;
  position: relative;
}

/* xV1.1 */

.fl-module-testimonials .bx-wrapper:before {
  display: inline-block;
  content: "";
  border-top: 0.15rem solid #00b6ff;
  width: 3rem;
  transform: translateY(-1.2rem);
}

.fl-module-testimonials .bx-viewport:before {
  display: inline-block;
  content: "Client Testimonial";
  font-size: $size-medium;
  text-transform: uppercase;
  font-weight: 700;
  /* xV1.1 */
  letter-spacing: 6px;
  color: $cyan;
  transform: translateY(-1rem);
  font-family: $heading-fonts !important;
  /* +V1.1 */
}

.fl-module-testimonials .bx-viewport {
  padding: 20px 0;
}

.fl-testimonial p {
  font-style: italic;
  font-size: $size-x-medium;
  /* xV1.1 */
  font-weight: 500;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 14px;
  height: 14px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.fl-module-testimonials:before,
.fl-module-testimonials:after {
  content: '"';
  font-size: 240px;
  /* xV1.1 */
  font-weight: 900;
  position: absolute;
  z-index: 10;
  font-style: italic;
  font-family: Georgia, "serif";
  color: #70767e;
  padding: 80px 0;
  opacity: 0.3;
}

.fl-module-testimonials:before {
  content: "\201C";
  top: -6.5rem;
  left: -5rem;
}

.fl-module-testimonials:after {
  content: "\201D";
  top: -6.5rem;
  right: -1.8rem;
}

/* Darken the Column Background for the image overlay */
.overlay .fl-col-small .fl-col-content.fl-node-content {
  background: 0, 0, 0, 0.55;
}

/* TOC Module */
.pp-toc-container {
  padding: 25px 25px 50px 25px;
  background-color: $feature-color;
}

.pp-toc-container .pp-toc-header,
.pp-toc-container .pp-toc-body {
  background-color: $feature-color;
}

.pp-toc-container .pp-toc-header {
  padding-left: 0;
}

.pp-toc-container .pp-toc-header-title {
  color: $heading-color;
  font-size: $size-xx-medium;
  font-family: $heading-fonts;
  font-weight: 700;
}

.pp-toc-container .pp-toc-header {
}

.pp-toc-separator,
.pp-toc-container .pp-toc-list-wrapper.pp-toc-list-bullet li::before {
  display: none;
}

.pp-toc-list-bullet li {
  margin-bottom: 10px;
}

/* === ARCHIVES === */
#archive-hero h5 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  color: $cyan;
  letter-spacing: 2px;
}

#archive-hero h6 {
  font-weight: 200;
}

#archive-featured h5 {
  letter-spacing: 2px;
  color: $grey;
  text-transform: uppercase;
  display: block;
  font-size: $size-medium;
}

#archive-featured .fl-module.overline:before {
  display: inline-block;
  content: "";
  border-top: 0.15rem solid #00b6ff;
  width: 3rem;
  transform: translateY(-1rem);
}

#archive-meta h2.widgettitle {
  font-size: $size-large;
  margin-bottom: 20px;
}

#archive-meta a.tag-cloud-link {
  font-size: $size-medium !important;
}

/* === SIDEBAR === */
.fl-sidebar h2 {
  font-size: $size-x-medium;
}

.fl-sidebar h3 {
  font-size: $size-medium;
}

/* === WIDGETS & FORMS === */

/* Marketo Form Styles
--------------------------------------------- */

/* Marketo Form, Rows, and Columns */
form.mktoForm,
.mktoHtmlText {
  width: 100% !important;
  font-size: $size-default !important;
}

.mktoFormCol,
.mktoFieldWrap {
  width: 100% !important;
}

.mktoForm .mktoFormRow {
  margin-bottom: 8px !important;
}

.mktoOffset {
  display: none;
}

/* Marketo Inputs and Labels */
.mktoLabel {
  width: 200px !important;
  padding: 5px 0 10px 0 !important;
  color: $footer-text-color;
}

.mktoAsterix {
  display: none !important;
}

.mktoRequiredField label::before {
  content: "* ";
  color: $orange;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField,
.mktoCheckboxList {
  padding: 12px 8px !important;
  width: 100% !important;
  font-size: 18px !important;
}

.mktoForm input:focus,
.mktoForm select:focus,
.mktoForm textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #09f;
}

.mktoForm textarea {
  min-height: 80px;
  margin-top: 20px;
}

/* Marketo Required Fields */
.mktoForm input::placeholder,
.mktoForm select::placeholder,
.mktoForm textarea::placeholder {
  color: #666;
}

/*input.mktoRequired::placeholder, select.mktoRequired::placeholder  { color: $orange !important; opacity: 1; font-weight: bold; }*/
.mktoGutter,
.mktoAsterix {
  display: none !important;
}

/* input.mktoRequired, select.mktoRequired  { border-bottom: 2px solid $orange; }*/

/* Marketo Text */
.mktoHtmlText,
.mktoCaptchaDisclaimer {
  color: $footer-text-color !important;
}

.mktoHtmlText a,
.mktoCaptchaDisclaimer a {
  color: $footer-link-color !important;
}

/* Marketo Opt-in */
label#LblmktoOptIn.mktoLabel.mktoHasWidth {
  display: none;
}

input#mktoOptIn {
  padding: 2px;
  margin: 0;
  height: 22px !important;
  width: 22px !important;
  font-size: 22px !important;
}

label#LblmktoOptIn.mktoLabel::after {
  content: "";
}

label#LblmktoOptIn::after {
  content: "I agree to receive emails from TriMech";
  font-weight: 600;
  color: $footer-text-color !important;
  width: 100%;
  cursor: pointer;
  margin-left: 4px;
}

label#LblmktoOptIn::after:hover {
  color: --color-hover;
}

/* Marketo Form Button */
.mktoButtonRow {
  margin-top: 10px !important;
}

.mktoButtonRow,
.mktoButtonWrap {
  width: 100% !important;
  margin-left: 0 !important;
}

.mktoForm button.mktoButton {
  width: 100%;
  padding: 40px 10px;
  font-size: $size-large !important;
  font-weight: 900 !important;
}

/* Wistia Styles
--------------------------------------------- */
.wistia_responsive_padding {
  margin-bottom: 30px;
}

/* Search and Filter Styles
--------------------------------------------- */

/* S&F Horizontal Form */
.searchandfilter > ul,
.searchandfilter > ul > li {
  padding: 0 !important;
}

/* S&F Headings */
.searchandfilter h4 {
  display: inline-block;
  margin: 0 20px 0 0;
  color: $heading-color;
  font-size: $size-xx-medium;
}

/* Not found */
h2.not-found-title {
  color: #c2cad6;
  font-size: 30px !important;
}

.et_pb_ajax_pagination_container p {
  font-size: 22px;
}

.sf-field-search input.sf-input-text {
  min-width: 300px;
  max-width: 400px;
}

/* S&F Select Input for Categories */
.sf-field-search label {
  margin-right: 40px;
}

select.sf-input-select,
input.sf-input-text {
  margin: 0 30px 30px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  max-width: 400px;
}

/* S&F Checkbox for Tags */
li.sf-field-tag {
  width: 100%;
}

.searchandfilter ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

.searchandfilter ul > li > ul:not(.children) {
  padding-left: 0;
}

.searchandfilter ul li li {
  margin: 0 30px 15px 0;
  font-size: 20px;
  color: $font-color;
  border-bottom: solid 0.15em $cyan, $transparent;
  transition: text-decoration-color 300ms;
  display: inline-block;
}

.searchandfilter input[type="checkbox"] {
  padding: 2px 2px;
  margin: 0;
  height: 15px;
  width: 15px;
}

.searchandfilter ul li li label:hover {
  cursor: pointer !important;
}

.searchandfilter ul li li:hover {
  border-bottom: solid 0.15em $cyan, $opaque;
}

.searchandfilter ul li li.sf-option-active {
  border-bottom: solid 0.15em $cyan, $opaque;
  color: $cyan, $opaque;
}

/* S&F Category Select */
select.sf-input-select,
input.sf-input-text {
  background: $white;
  border: none;
  font-size: $size-small;
}

/* Blog Category Widget */
#blog.fl-module-widget select {
  padding: 15px 20px;
  font-size: $size-regular;
}

#blog .widgettitle {
  display: none;
}

/* === MEDIA QUERIES === */
@media screen and (max-width: 992px) {
  h1 {
    font-size: $size-large;
  }

  h2 {
    font-size: $size-xx-medium;
  }

  section#hero h2 p {
    font-size: $xx-medium;
  }

  /* +V1.1 - Added to make the header size work with Post Excerpt */
  h3 {
    font-size: $size-x-medium;
  }

  h4 {
    font-size: $size-medium;
  }

  h5 {
    font-size: $size-regular;
  }

  h6 {
    font-size: $size-small;
  }

  p,
  li {
    font-size: $size-small;
  }

  .fl-module-fl-post-content p:first-child {
    font-size: $size-medium;
  }

  .angled-right .fl-photo-img,
  .angled-left .fl-photo-img {
    transform: none;
    box-shadow: 0 2px 10px -3px #0004;
  }

  /* +V1.1 */
  .angled-right .fl-module-content,
  .angled-left .fl-module-content {
    margin: 20px;
  }

  /* +V1.1 */
  .leading p:first-of-type {
    font-size: $size-medium;
  }
}

@media (max-width: 768px) {
  .page-template-default section#hero .fl-row-content-wrap {
    min-height: unset;
    padding: 90px 10px 50px;
  }

  /* +V1.1 */
  .page-template-default section#video .fl-row-content {
    padding: 40px 20px;
  }

  .fl-row[data-node] .fl-row-content-wrap {
    padding-top: 0px;
  }

  /* +V1.1 */
  .fl-module-testimonials .bx-viewport {
    padding: 40px 0 60px;
  }

  /* +V1.1 */
  .fl-node-content .fl-module-testimonials .bx-viewport:before {
    transform: translateY(-1.6rem);
  }

  /* +V1.1 */
  .fl-module-testimonials .fl-module-content {
    margin: 20px 0;
  }

  /* +V1.1 */
  .fl-node-content .fl-module-testimonials {
    padding: 40px;
  }

  /* +V1.1 */
  .fl-testimonial p {
    font-size: $size-regular !important;
  }

  /* +V1.1 - Might be able to lose the !important */
  .fl-module-testimonials:before,
  .fl-module-testimonials:after {
    font-size: 80px !important;
    color: #cfcfcf !important;
  }

  /* +V1.1 - Might be able to lose the !important */
  .fl-module-testimonials:before {
    top: 2rem !important;
    left: -0.2rem !important;
  }

  /* +V1.1 - Might be able to lose the !important */
  .fl-module-testimonials:after {
    top: unset !important;
    bottom: 2.8rem !important;
    right: 1.9rem !important;
  }

  /* +V1.1 - Might be able to lose the !important */
  .fl-module-cta h3 {
    font-size: $size-xx-medium;
  }

  /* +V1.1 */
  .fl-module-cta p {
    font-size: $size-medium !important;
  }

  /* +V1.1 - Might be able to lose the !important */
  .fl-module-cta {
    margin-bottom: 20px;
  }

  /* +V1.1 */
  .alternate-background .fl-row-fixed-width {
    padding: 0px 0px;
  }

  /* +V1.1 */
  .fl-testimonials-wrap .fl-testimonial {
    padding: 0px 0 40px;
  }

  .fl-col-small:not(.fl-col-small-full-width) {
    max-width: unset;
  }

  /* +V1.1 */
  #cta .fl-row-content-wrap {
    padding: 20px 0px 0px 0px;
  }

  /* +V1.1 */
}

/* fixes March 23 */

.home img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .fl-node-z917f3iea5vd {
    min-width: 100% !important;
  }
}

.dashicons-no-alt {
  display: none;
}

.fl-node-bzetwod0qcxy > .fl-row-content-wrap {
  background-size: 100% !important;
  padding-top: 250px !important;
}

.menu-logo:after {
  position: relative;
  top: -9px;
}

.fl-node-f0yjp3c216d5 > .fl-col-content {
  padding-top: 30px !important;
}

/* Carousel Arrows */
.fl-node-6f9k7qa3eroh .pp-image-carousel-wrapper .pp-swiper-button svg {
  height: 100px;
}
@media screen and (max-width: 900px) {
  .fl-node-6f9k7qa3eroh .pp-image-carousel-wrapper .pp-swiper-button svg {
    height: 80px;
  }
}
@media screen and (max-width: 700px) {
  .fl-node-6f9k7qa3eroh .pp-image-carousel-wrapper .pp-swiper-button svg {
    height: 70px;
  }
}
@media screen and (max-width: 600px) {
  .fl-node-6f9k7qa3eroh .pp-image-carousel-wrapper .pp-swiper-button svg {
    height: 55px;
  }
  .pp-swiper-button.pp-swiper-button-prev {
    padding-right: 20px;
  }
  .pp-swiper-button.pp-swiper-button-next {
    padding-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  .fl-node-6f9k7qa3eroh .pp-image-carousel-wrapper .pp-swiper-button svg {
    height: 45px;
  }
  .pp-swiper-button.pp-swiper-button-prev {
    padding-left: 10px;
    padding-right: 15px;
  }
  .pp-swiper-button.pp-swiper-button-next {
    padding-left: 15px;
    padding-right: 10px;
  }
}
.pp-swiper-button {
  height: 100%;
  width: 30px;
  background-color: #fff;
}
.pp-swiper-button.pp-swiper-button-prev {
  padding-left: 15px;
  padding-right: 30px;
  left: 0;
}
.pp-swiper-button.pp-swiper-button-next {
  padding-left: 30px;
  padding-right: 15px;
  right: 0;
}
