html[data-theme='light']{
/* Primary colors */
// Light theme variables
--heading-color: #1D4F91;
--subheading-color: #C3CBD6;
--feature-color: #fff;
--hover-color: #FF6319;
--footer-background-color: #1D4F91;
--footer-link-color: #fff;
--font-color: #63666A;
--tab-color: #004A9C;
--background-color: #F1F3F8;
--menu-second-column: #181c22;
--menu-row-hover: #fafafa;
--menu-icon-background:  #f3f6f9;
--menu-icon-background-hover:  #e8edf4;
}
html[data-theme='dark'] {
    // Dark theme variables
    --heading-color: #fff !important;
    --subheading-color:  #C3CBD6 !important;
    --feature-color: #1C2129 !important;
    --hover-color:  #FF6319 !important;
    --footer-background-color: #1C2129 !important;
    --footer-link-color: #fff !important;
    --font-color: #DBDFEA !important;
    --tab-color: #fff !important;
    --background-color: #030B17 !important;
    --menu-second-column:  #181c22 !important;
    --menu-row-hover: #15191e !important;
    --menu-icon-background: #1c2a3e !important;
    --menu-icon-background-hover: #182941 !important;
}
// Variables for both themes
$footer-heading-color: #C3CBD6;
$footer-text-color: #C3CBD6;
$link-color: #0071EE;
$dark-color: #030B17;
$selection-color: #FFFF73;

/* Brand colors */
$blue: #1D4F91;
$grey:  #BFBFC3;
$light-grey: #F1F3F8;
$cyan: #00B6FF;
$orange: #FF6319;
$charcoal: #63666A;
$white: #fff;

/* color Opacity */
$opaque: 1;
$semiopaque: 0.7;
$transparent: 0;

/* Font family & Size */
$heading-fonts: "Inter", Arial, sans-serif;
$content-fonts: "Open Sans", sans-serif;
$size-default: 18px;
/* REM Size = Expected Font Size (EF) / Default Font Size (DF) */
$size-xx-small: 0.6rem;
/* EF: 12px */
$size-x-small: 0.7rem;
/* EF: 14px */
$size-small: 0.9rem;
/* EF: 16px */
$size-regular: 1rem;
/* EF: 18px | Paragraph */
$size-medium: 1.2rem;
/* EF: 22px | Heading 6 */
$size-x-medium: 1.5rem;
/* EF: 28px | Heading 5 */
$size-xx-medium: 1.7rem;
/* EF: 32px | Heading 4 */
$size-large: 2.1rem;
/* EF: 38px | Heading 3 */
$size-x-large: 2.4rem;
/* EF: 44px | Heading 2 */
$size-xx-large: 4rem;
/* EF: 72px | Heading 1 */


// $heading-color: var(--heading-color);
// $subheading-color: var(--subheading-color);
// $feature-color: var(--feature-color);
// $hover-color: var(--hover-color); 
// $footer-background-color: var(--footer-background-color);
// $footer-link-color: var(--footer-link-color);
// $font-color: var(--font-color);
// $tab-color: var(--tab-color); 
// $background-color: var(--background-color);
// $menu-second-column: var(--menu-second-column); 
// $menu-row-hover: var(--menu-row-hover);
// $menu-icon-background: var(--menu-icon-background);
// $menu-icon-background-hover: var(--menu-icon-background-hover);

// /* Site */
// html {
//     font-size: $size-regular;
//     font-family: $content-fonts;
// }

// body,
// #fl-main-content {
//     background-color: $background-color;
//     color: $font-color;
// }


/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: var(--heading-color);
    font-family: $heading-fonts;
    font-weight: 600;
    margin-top: 10px;
}

h1 {
    font-size: $size-xx-large;
    font-weight: 800;
}

h2 {
    font-size: $size-x-large;
}

h3 {
    font-size: $size-large;
}

h4 {
    font-size: $size-xx-medium;
}

h5 {
    font-size: $size-x-medium;
}

h6 {
    font-size: $size-medium;
}


